.expensesInput {
    width: 484px;
}
.moneyInput {
    height: 58px;
    
    padding: 10px 17px 9px 22px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;

    &__input {
        width: 100%;
        border: none;
        font: inherit;
        background-color: rgba(0, 0, 0, 0);

    }
}
.categorySelect {
    margin-top: 18px;
    width: 484px;
    height: 58px;
    padding-left: 22px;
    font: inherit;
    color: inherit;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);

}