.stats {
    width: 484px;
    &__limit {
        margin-bottom: 13px;
    }
    &__changeLimitBtn {
        width: 42px;
        height: 42px;
        cursor: pointer;
        margin-left: 12px;
        margin-bottom: -2px;
    }
    &__total {
        margin-bottom: 35px;
    }
    &__statusText {
        &_positive {
            color: green;
        }
        &_negative {
            color: red;
        }
    }
}

.popup-change-limit {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);

}

.popup_opened {
    opacity: 1;
    visibility: visible;
}

.change-limit {
    &__content {
        position: relative;
        width: 991px;
        height: 525px;
        background-color: #fff;
    }
    &__title {
        font: inherit;
        font-weight: 700;
        margin-top: 47px;
        margin-left: 57px;
        margin-bottom: 147px;
    }
    &__closeBtn {
        position: absolute;
        top: 39px;
        right: 34px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &__save-wrapper {
        margin-left: 62px;
        display: flex;
        column-gap: 28px;
    }

}

.body_fixed {
    overflow: hidden;
}