@import "reset";

@import "init-styles";
@import "common-styles";
@import "input";
@import "addBtn";
@import "stats";
@import "history";
h1 {
    margin-top: 67px;
}
.expenses {
    margin-top: 41px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 43px;
}

